#container {
    margin: 0 auto;
    width: 40%;
}

h4 {
    margin-bottom: 0px;
}

p {
    margin-bottom: 0px;
}

div#staticContent , div#dynamicContent {
    background-color: plum;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    margin-right: 2px;
    padding: 5px;
    background-color: aquamarine;
    border: 1px solid white;
}

ul li .active {
    background-color: yellow;
}